@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-header {
  font-family: 'Montserrat', sans-serif;
}

.jcc{
  justify-content: center;
  text-align: center;
}

.mt{
  margin-top: 5%;
}

h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  
}

.error{
  color: red;
}

   .modal {
 width: 500px;
 height: 300px;
 }

    .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
  }

  .w100{
    width: 100%;
  }

  .pt{
    padding-top: 2%;
  }
  .aic{
    align-items: center;
  }

  .df{
    display: flex;
  }

  .bs{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  }

  br{
    border-radius: 20%;
  }

  .pdi{
    padding-left: 2%;
    padding-right: 2%;
  }

  .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ancho mínimo de 300px y crece con el espacio disponible */
  gap: 20px; /* Espacio entre los elementos */
}

.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media query para tamaños pequeños de pantalla */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
  }
}

.button {
  font-size: 1rem; /* Utiliza una unidad relativa */
  padding: 0.5rem 1rem; /* Utiliza unidades relativas para el padding */
}

@media (max-width: 768px) {
  .button {
    font-size: 0.8rem; /* Reduzca el tamaño del botón */
    padding: 0.3rem 0.5rem; /* Ajuste el padding en dispositivos móviles */
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px; /* Aumenta el espacio entre elementos */
}

.w30{
  width: 30%;
}

.pb{
  padding-bottom: 10%;
}

.jcse{
  justify-content: space-evenly;
}

.fdc{
  flex-direction: column;
}